

.plane {
    border-collapse: collapse;
}

.aisle {
    padding: 1.5em;
}

.seat {
    padding: 10px 20px;
    border: .1em solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seat.aisle {
    visibility: hidden;
}

.seat.selected {
    background-color: green;
    color: #fff;
}

.seat:hover {
    background-color: #979797;
}

.seat.unavailable {
    background-color: #ff7171;
    cursor: not-allowed;
}
.seat-map {
    
    
    
    
}



.seat-map {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100vw;
    
    
    border: .1em solid #000;
    border-radius: 0.5em;
    top: 100px;
    width: 90%;
    max-width: 800px;
    max-height: 80vh;
    overflow: scroll;
    
    
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);



}

@media screen and (max-width: 700px) {
    .seat-map {
        align-items: flex-start;
        
    }
}
.seat-map h1 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 600;
}
.seat-map__screen {
    position: relative;
    margin-bottom: 20px;
    padding-top: 30px;
    height: 60px;
    background: #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.close-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    background: #036;
    color: #fff;
}
