body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: -webkit-fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em; /* Equivalent to 16px when base font-size is 16px */
    
    overflow: auto;

}
header {
    width: 100%;
    min-width: 100%;
    min-height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em; /* Equivalent to 16px when base font-size is 16px */
    background-color: #036;
}

header {
    width: 100%;
    height: 4em;
    background: #003366;
    overflow: hidden;

}

h1 {
    text-align: center;
}

.info > h1 {
    color: #000;
    text-align: center;
    background-color: #cff5ff;
    padding: 20px;
    width: 80%;
    border-radius: 5px;

}

.container > h2 {
    text-align: center;
    margin: 0;
}

.main {
    width: 100%;
    min-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; /* Equivalent to 16px when base font-size is 16px */
    overflow: auto;
    margin: 0;
    padding: 0;
    min-width: -webkit-fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.flex-row{
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    min-width: -webkit-fit-content;
}

fieldset{
    height: 95%;
}

button {
    padding: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    margin-top: 0.625em; /* Equivalent to 5px when base font-size is 16px */
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: 0.0625em solid #ddd; /* Equivalent to 1px when base font-size is 16px */
    background-color: #036;
    color: #fff;
    border-radius: 0.3125em; /* Equivalent to 5px when base font-size is 16px */
    cursor: pointer;
}



.hidden {
    display: none;
}

button:active {
    transform: translateY(2px);
}
.topnav {
    height: 80px;
    background: #036;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.topnav a, .topnav.web a, .topnav .responsive a, .topnav .dropbtn {
    display: flex;
    
    height: -webkit-fill-available;
    align-items: center;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
.topnav a.active, .dropdown .dropbtn.active {
    background-color: #cff5ff;
    color: black;
}
.dropdown {
    height: -webkit-fill-available;
    float: left;
    overflow: hidden;
    cursor: pointer;
}
.commerce{
    float: left;
    width: 70%;
}
.account{
    float: right;
    width: 30%;
}
.dropdown .dropbtn {
    
    font-size: 1em; 
    border: none;
    outline: none;
    color: white;
    padding: .8em 2em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    box-sizing: border-box;
    top: 4em;
}
.dropdown-content a {
    max-height: 2em;
    float: none;
    color: black;
    padding: .8em 2em;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}



.responsive {
    display: none;
    background-color: #036;
}

.responsive-nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625em;
    width: 100%;
    min-width: -webkit-fit-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.responsive-nav-list a {
    width: 100%;
    min-width: -webkit-fit-content;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.5em;
}

.nav-toggle {
    display: none;
    position: fixed;
    left: 0;
    

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
    .nav-toggle {
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        z-index: 12;
        }


.web{
    display: none;
}


.topnav {
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 10;
}


.dropdown-content {
    display: none;
}

.topnav > .account{
    display: none;
    
}

.responsive.active{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100vw;
    z-index: 10;
}
.responsive-nav-list.active{
    display: flex;
    flex-direction: column;
    
    z-index: 10;
    
    background-color: #036;
    color: white;
}

.responsive.active ul{
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
}
.responsive.active li {
    width: 50%;
}

.responsive.active li > a {
    justify-content: center;
    padding: 8% 0;
}

.nav-toggle {
display: block;
}
.account {
    width: 100%;

}
#logo-box{
    display: none;
}
}
/*  end of responsive topnav */

.logo {
    display: block;
    margin: 30px auto;

}
#logo-box {
    display:flex;
    justify-content: center;
    background-color: #fff;
    margin: 2em auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; /* Equivalent to 16px when base font-size is 16px */
    justify-content: space-between;
    overflow: auto;
    
    box-sizing: border-box;
    min-width: -webkit-fit-content;
    
    
    margin: 20px 10vw;
    padding: 20px;
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    width: 100%;
    min-width: -webkit-fit-content;

}
.search-box {
    background-color: #fff;
    margin: 1em auto;
    padding: 2em;
    border-radius: 0.3125em; /* Equivalent to 5px when base font-size is 16px */
    box-shadow: 0.125em 0.125em 0.75em #aaa;
    display: flex;
    flex-direction: column;
    gap: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    width: 40em;
    height: 20em;
    min-width: -webkit-fit-content;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    width: 100%;
    min-width: -webkit-fit-content;

}


select, input[type="text"], input[type="date"], input[type="submit"], input[type="password"], input[type="email"], 
input[type="tel"], input[type="date"], input[type="number"] {
    padding: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    margin: 10px auto; /* Equivalent to 5px when base font-size is 16px */
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: 0.0625em solid #ddd; /* Equivalent to 1px when base font-size is 16px */
}

option {
    padding: 0.625em; /* Equivalent to 10px when base font-size is 16px */
    margin: 0.3125em 0; /* Equivalent to 5px when base font-size is 16px */
    min-width: 100%;
    max-width: 100%;
    background-color: #fff;
}

#dates, #location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.625em;
    padding: 0.625em; 
}

.location-search-group {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.625em; 
    width: 100%;
    min-width: 12em;
}
.departure-date, .return-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.625em; 
    width: 100%;
    min-width: 12em;
}

input[type="submit"], input[type="reset"] {
    padding: 1.25em;
    
    width: 100%;
    background-color: #003366;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #cff5ff;
    color: #003366;
}
input[type="submit"]:active, input[type="reset"] :active {
    background-color: #003366;
}

input {
    flex: 1 1 auto;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.7em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    margin: 0;
    max-width: fit-content;
    
}

.airport-list {
    display: none;
    flex-direction: column;
    gap: 0.625em;
    padding: 0.625em;
    margin: 0;
    list-style-type: none;
    border: 0.0625em solid #ddd; /* Equivalent to 1px when base font-size is 16px */
    border-radius: 0.3125em;
    background-color: #fff;
    position: absolute;
    top: 4em;
    z-index: 1;
    width: 100%;
    max-width: 90%;
    max-height: 12em;
    overflow: scroll;
}
.airport-list li {
    padding: 0.625em;
    margin: 0;
    border: none;
    border-bottom: 0.0625em solid #ddd; /* Equivalent to 1px when base font-size is 16px */
    border-radius: 0.3125em;
    cursor: pointer;

}
.airport-list li:last-child {
    border-bottom: none;
}
.airport-list li:hover {
    background-color: #ddd;
}
.airport-list li:active {
    background-color: #aaa;
}
.airport-list li:focus {
    background-color: #aaa;
}
#feedback {
    width: 99%;
}


#filterDiv {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1em;
    --line-offset: calc(var(gap) / 2);
    --line-thickness: 2px;
    border-radius: 1em;    
    padding: 10px;

}

.nav-icon-div {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}
.nav-icon {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.checkboxDiv {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 5%;
    padding: 10px;
    border-radius: 1em;
    background-color: #fff;
}

.checkboxDiv > input{
    margin: auto;
    padding: 0;
    accent-color: #003366;
}
.checkboxDiv > label{
    margin: auto 0;
    padding: 0;
}

.checkboxButtonDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxButtonDiv > button{
    width: 60%;
    min-width: -webkit-fit-content;
    margin-top: 0;
    margin-bottom: 10px;
}

.checkboxButtonDiv > button:hover{
    background-color: #003366;
    color: #fff;
}

.checkboxButtonDiv > button:active{
    background-color: #003366;
    color: #fff;
    transform: translateY(2px);
}




footer {
    background-color: #003366;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-container a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-container a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: black;
  }


.options-search-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
.editProfile {
    display: flex;
    flex-direction: row;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.profile-info {
    justify-content: flex-start;
}
.date-passenger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date-passenger > div {
    width: 45%
}

#origin {
    position: relative;
}

#destination {
    position: relative;
}

/*// Uriel Cruz
// Transitwise
// css style
// This is for the left nav bar for 
// users, employees, and admin
*/
.white {
    background-color: white;
    
}
.skyblue{
    background-color: #cff5ff;
    
}

.full {
    width: 80%;
}

.leftnav-openbtn{
    left:0;
    position: relative;
    top: 0;
    background-color: #036;
    color: white;
    padding-left:5px;
    padding-right:5px;
    border-radius:0.1em;
    font-size:30px;
    cursor:pointer;
    width: fit-content;
    height: fit-content;
  }
  .navbaruser {
    height: 100%;
    width: fit-content;
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003366;
    overflow-x: hidden;
    padding-top: 60px;
    
  }

  .nav-text {
    padding: 20px;
  }
  
  .navbaruser a {
    float: left;
    padding: 12px 0;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: left;
    display: block;
    cursor: pointer;
  }
  .navbaruser .closebtn{
    text-align: center;
    
    font-size: 36px;
    
  }
  
  .nav-text{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }
  
  .navbaruser a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  
  